[submodule "vendor/sovereign-sdk"]
	path = vendor/sovereign-sdk
	url = git@github.com:informalsystems/sovereign-sdk-wip.git
[submodule "vendor/risc0-cycle-macros"]
	path = vendor/risc0-cycle-macros
	url = https://github.com/Sovereign-Labs/risc0-cycle-macros.git
